body {
	border: 5px solid green;
}

.alien-square{
	display: inline-block;
	height: 60px;
	width: 23%;
	border: 1px solid black;
}

.barrier{
	height: 60px;
	width: auto;
	background-color: green;
}

.player-square{
	display: inline-block;
	height: 60px;
	width: 23%;
	border: 1px solid black;
	
}

.alien-gameboard, .player-gameboard{
	width: 95%;
	border: 2px solid black;
}

.game-row{
	width: 92%;
	height: 20%;
}

.hull-class{
	background-color: red;
}

.gun-class{
	background-color: pink
}